{:tag     :component,
 :attrs {:name LinesOfTextGrp},
 :content [{:tag     :group,
            :attrs   {:required Y, :name NoLinesOfText},
            :content [{:tag :field, :attrs {:required Y, :name Text}, :content nil}
                      {:tag :field, :attrs {:required N, :name EncodedTextLen}, :content nil}
                      {:tag :field, :attrs {:required N, :name EncodedText}, :content nil}]}]}


; :content can be one or more of
; (1) group
; (2) field
; (3) component

{:tag :component,
 :attrs {:name QuotEntryAckGrp},
 :content [{:tag :group,
            :attrs {:required N, :name NoQuoteEntries},     ;TODO WARNING! This NoQuoteEntries must be encoded as separate tag -> 295
            :content [{:tag :field, :attrs {:required N, :name QuoteEntryID}, :content nil}
                      {:tag :component, :attrs {:required N, :name Instrument}, :content nil}
                      {:tag :component, :attrs {:required N, :name InstrmtLegGrp}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidPx}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferPx}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidSize}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferSize}, :content nil}
                      {:tag :field, :attrs {:required N, :name ValidUntilTime}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidSpotRate}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferSpotRate}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidForwardPoints}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferForwardPoints}, :content nil}
                      {:tag :field, :attrs {:required N, :name MidPx}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidYield}, :content nil}
                      {:tag :field, :attrs {:required N, :name MidYield}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferYield}, :content nil}
                      {:tag :field, :attrs {:required N, :name TransactTime}, :content nil}
                      {:tag :field, :attrs {:required N, :name TradingSessionID}, :content nil}
                      {:tag :field, :attrs {:required N, :name TradingSessionSubID}, :content nil}
                      {:tag :field, :attrs {:required N, :name SettlDate}, :content nil}
                      {:tag :field, :attrs {:required N, :name OrdType}, :content nil}
                      {:tag :field, :attrs {:required N, :name SettlDate2}, :content nil}
                      {:tag :field, :attrs {:required N, :name OrderQty2}, :content nil}
                      {:tag :field, :attrs {:required N, :name BidForwardPoints2}, :content nil}
                      {:tag :field, :attrs {:required N, :name OfferForwardPoints2}, :content nil}
                      {:tag :field, :attrs {:required N, :name Currency}, :content nil}
                      {:tag :field, :attrs {:required N, :name QuoteEntryStatus}, :content nil}
                      {:tag :field, :attrs {:required N, :name QuoteEntryRejectReason}, :content nil}
                      {:tag :field, :attrs {:required N, :name BookingType}, :content nil}
                      {:tag :field, :attrs {:required N, :name OrderCapacity}, :content nil}
                      {:tag :field, :attrs {:required N, :name OrderRestrictions}, :content nil}]}]}

{:tag :component,
 :attrs {:name PegInstructions},
 :content [{:tag :field, :attrs {:required N, :name PegOffsetValue}, :content nil}
           {:tag :field, :attrs {:required N, :name PegPriceType}, :content nil}
           {:tag :field, :attrs {:required N, :name PegMoveType}, :content nil}
           {:tag :field, :attrs {:required N, :name PegOffsetType}, :content nil}
           {:tag :field, :attrs {:required N, :name PegLimitType}, :content nil}
           {:tag :field, :attrs {:required N, :name PegRoundDirection}, :content nil}
           {:tag :field, :attrs {:required N, :name PegScope}, :content nil}
           {:tag :field, :attrs {:required N, :name PegSecurityIDSource}, :content nil}
           {:tag :field, :attrs {:required N, :name PegSecurityID}, :content nil}
           {:tag :field, :attrs {:required N, :name PegSymbol}, :content nil}
           {:tag :field, :attrs {:required N, :name PegSecurityDesc}, :content nil}]}


;last component
{:146 {:required false},
 :146-group
      {:Instrument-block
             {:1450 {:required false},
              :1242 {:required false},
              :226 {:required false},
              :1195 {:required false},
              :1079 {:required false},
              :1049 {:required false},
              :971 {:required false},
              :231 {:required false},
              :541 {:required false},
              :965 {:required false},
              :1449 {:required false},
              :691 {:required false},
              :349 {:required false},
              :228 {:required false},
              :874 {:required false},
              :350 {:required false},
              :967 {:required false},
              :461 {:required false},
              :1227 {:required false},
              :255 {:required false},
              :65 {:required false},
              :762 {:required false},
              :1191 {:required false},
              :ComplexEvents-block
                    {:1483 {:required false},
                     :1483-group
                           {:1484 {:required false},
                            :1485 {:required false},
                            :1486 {:required false},
                            :1487 {:required false},
                            :1488 {:required false},
                            :1489 {:required false},
                            :1490 {:required false},
                            :ComplexEventDates-block
                                  {:1491 {:required false},
                                   :1491-group
                                         {:1492 {:required false},
                                          :1493 {:required false},
                                          :ComplexEventTimes-block
                                                {:1494 {:required false},
                                                 :1494-group
                                                       {:1495 {:required false}, :1496 {:required false}}}}}}},
              :969 {:required false},
              :239 {:required false},
              :1193 {:required false},
              :997 {:required false},
              :1439 {:required false},
              :EvntGrp-block
                    {:864 {:required false},
                     :864-group
                          {:865 {:required false},
                           :866 {:required false},
                           :1145 {:required false},
                           :867 {:required false},
                           :868 {:required false}}},
              :227 {:required false},
              :SecAltIDGrp-block
                    {:454 {:required false},
                     :454-group {:455 {:required false}, :456 {:required false}}},
              :351 {:required false},
              :223 {:required false},
              :996 {:required false},
              :1151 {:required false},
              :224 {:required false},
              :167 {:required false},
              :240 {:required false},
              :106 {:required false},
              :1457 {:required false},
              :1197 {:required false},
              :1198 {:required false},
              :1479 {:required false},
              :968 {:required false},
              :1196 {:required false},
              :55 {:required false},
              :348 {:required false},
              :207 {:required false},
              :1458 {:required false},
              :1452 {:required false},
              :876 {:required false},
              :22 {:required false},
              :1192 {:required false},
              :875 {:required false},
              :471 {:required false},
              :472 {:required false},
              :947 {:required false},
              :206 {:required false},
              :1199 {:required false},
              :966 {:required false},
              :SecurityXML-block
                    {:1184 {:required false},
                     :1185 {:required false},
                     :1186 {:required false}},
              :1480 {:required false},
              :1451 {:required false},
              :873 {:required false},
              :48 {:required false},
              :1435 {:required false},
              :1194 {:required false},
              :1478 {:required false},
              :225 {:required false},
              :107 {:required false},
              :1482 {:required false},
              :200 {:required false},
              :543 {:required false},
              :460 {:required false},
              :470 {:required false},
              :970 {:required false},
              :201 {:required false},
              :202 {:required false},
              :1244 {:required false},
              :667 {:required false},
              :1146 {:required false},
              :1200 {:required false},
              :InstrumentParties-block
                    {:1018 {:required false},
                     :1018-group
                           {:1019 {:required false},
                            :1050 {:required false},
                            :1051 {:required false},
                            :InstrumentPtysSubGrp-block
                                  {:1052 {:required false},
                                   :1052-group
                                         {:1053 {:required false}, :1054 {:required false}}}}},
              :1147 {:required false},
              :1481 {:required false}},
       :63 {:required false},
       :1617 {:required false},
       :1500 {:required false},
       :1502 {:required false},
       :58 {:required false},
       :354 {:required false},
       :355 {:required false}}}


;Name: StrmAsgnRptInstrmtGrp and Length: 2
[:146
 [[:55  ;this is correct actually -> group-content bounds & component bounds
   :65
   :48
   :22
   [:454 [:455 :456]]
   :460
   :1227
   :1151
   :461
   :167
   :762
   :200
   :541
   :1079
   :966
   :1049
   :965
   :224
   :225
   :239
   :226
   :227
   :228
   :255
   :543
   :470
   :471
   :472
   :240
   :202
   :947
   :967
   :968
   :206
   :231
   :969
   :1146
   :996
   :1147
   :1191
   :1192
   :1193
   :1194
   :1195
   :1196
   :1197
   :1198
   :1199
   :1200
   :201
   :1244
   :1242
   :997
   :223
   :207
   :970
   :971
   :106
   :348
   :349
   :107
   :350
   :351
   [:1184 :1185 :1186]
   :691
   :667
   :875
   :876
   [:864 [:865 :866 :1145 :867 :868]]
   :873
   :874
   [:1018 [:1019 :1050 :1051 [:1052 [:1053 :1054]]]]
   :1435
   :1439
   :1449
   :1450
   :1451
   :1452
   :1457
   :1458
   :1478
   :1479
   :1480
   :1481
   :1482
   [:1483
    [:1484
     :1485
     :1486
     :1487
     :1488
     :1489
     :1490
     [:1491 [:1492 :1493 [:1494 [:1495 :1496]]]]]]]
  :63
  :1617
  :1500
  :1502
  :58
  :354
  :355]]


([:1445 (:1446 :1447 :1448)])